.login{
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin-top: 200px;
    padding: 30px;
    border-radius: 10px;
}
.form-control{
    background-color: #56A689;
    box-shadow: 0 0 0 !important;
    border-radius: 3px !important;
    color: white;
}

::placeholder { 
    color: white;
    opacity: 1;
  }
.btn{
    background-color: #56A689;
    color: white;
    font-weight: 600;
}

.register-link {
    text-decoration: none;
    color: #56A689;
    font-size: large;
}
