<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/logo.png" alt="" style="height: 100px; width: auto;">
    <h1 class="display-5 fw-bold"> {{ appName }} </h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            <b> {{appName}} </b> is an Angular based web applicaion whcich will help you to create notes,
            view notes. Save your important notes here. It's free and forever free to use. Go ahead and
            create accout and try it today!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a routerLink="/login" class="btn btn-primary btn-lg px-4 gap-3">Login</a>
            <a routerLink="/signup" class="btn btn-outline-secondary btn-lg px-4">Regiser Account</a>
        </div>
    </div>
</div>