@import '../node_modules/bootstrap/scss/bootstrap.scss';
.btn-primary {
    background-color: #56A689;
    color: white;
    border: 1px solid #56A689;
    &:hover {
        background-color: white;
        color: #56A689;
        border: 1px solid #56A689;
    }
}